/* You can add global styles to this file, and also import other style files */
:root {
  --lightColor: #FF5A10;
  --mildColor: #FF4300;
  --maxWidth: 1200px;
}

html, body {
  height: calc(100vh - 1rem);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to left top, var(--lightColor), var(--mildColor));
}


